PORT = 4000
MONGODB_URI = mongodb+srv://samim:samim123@cluster0.zs6xuyn.mongodb.net
# FOR EVERY WHERE FRONTENT REQUEST
# CORS_ORIGIN =* 
CORS_ORIGIN =*

ACCESS_TOKEN_SECRET = 035339BFD89509DF6406D4D4F4ED2417FC69CAE2ED72AAB83B27B8F19956200F
ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET = A8439766725055512E4FAC5025920996AA9E3C44BCBF7A0F858C2B3C101AB73A
REFRESH_TOKEN_EXPIRY = 10d